.section_subtitle {
    background: #1C6758;
    font-family: var(--subtitle-font-name);
    width: max-content;
    padding: 0px 0.5rem;
    padding-right: 1rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--heading-color);
}