.recipe_card {
    border: none !important;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
}

.recipe_img {
    position: relative;
}

.recipe_img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card_body {
    padding: 0 5% 5%;
    font-size: 0.8rem;
}

.card_body h6 {
    color: var(--primary-color);
}

.card_body h6 span {
    font-weight: 500;
    color: var(--text-color);
}

.recipe_title {
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.recipe_title a {
    text-decoration: underline;
    color: var(--heading-color);
    transition: .3s;
}

.recipe_title a:hover {
    text-decoration: none;
}

.card_bottom {
    margin-top: 10px;
}

button:disabled {
    color: #666666;
    cursor: auto;
}

.recipe_card_btn {
    background: var(--secondary-color) !important;
    cursor: pointer;
    border-radius: 50px;
    padding: 0.4rem 0.9rem !important;

}

.recipe_card_btn a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.recipe_card_btn a:hover {
    color: #fff;
}

.delete-btn {
    border: none;
    background: #e64848;
    border-radius: 50px;
    margin: 0 10px;
    color: #fff;
    padding: 0.4rem 0.9rem !important;
}

.delete-btn:hover {
    background: rgb(230, 72, 72, 0.9);
}



/* ========== responsive design ========== */

@media only screen and (max-width:768px) {
    .recipe_title {
        font-size: 1rem;
    }

    .card_body {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width:576px) {
    .recipe_title {
        font-size: 0.7rem;
    }
}