.recipe_detail-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.recipe_detail-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 3%;
}