.navbar {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    transition: all .50s ease;
}

.navbar a {
    color: rgb(26, 76, 64);
    text-decoration: none;
    margin: 0 30px;
    padding: 5px 0;
    font-size: 1.1rem;
    transition: all .50s ease;
}

.logo {
    display: flex;
    width: 20%;
}

.navigation a:hover {
    text-decoration: underline;
}

.nav_btns {
    display: flex;
    align-items: center;
}

.nav_right {
    display: flex;
    align-items: center;

}

.nav_right .faUser {
    color: rgb(26, 76, 64);
}

.nav_right h5 {
    font-size: 1.2rem;
    margin-left: 8px;
}

.nav_right button {
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 30px;
}

.nav_right button:hover {
    opacity: 0.9;
}

.sticky_header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

/* ------------- burger menu ------------ */
.burger-menu {
    height: 30px;
    width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 2rem;
    height: 5px;
    background-color: #1C6758;
    border-radius: 2px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 75%);
    height: 100%;
    background-color: #EEF2E6;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ---------- animations ---------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(8px, 10px);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-8px, 10px);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.mobile-menu {
    display: none;
}

/* ========== responsive design ========== */
@media screen and (max-width:992px) {
    .mobile-menu {
        display: block;
    }

    .lg-menu {
        display: none;
    }

    .navbar {
        justify-content: space-around;
        padding-left: 0;
    }

    .logo {
        width: 50%;
    }

    .burger-menu {
        margin-left: 10px;
    }

}

@media screen and (max-width:768px) {
    .burger-menu {
        margin-left: 10px;
    }

    .menu {
        width: calc(100% - 50%);
    }
}