.recipe_detail-head {
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.detail_text {
    width: 70%;
}

.recipe_detail-head img {
    border-radius: 20px;
    width: 500px;
}

.recipe_detail-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding-top: 7%;
    padding-bottom: 5%;
}

.recipe_detail-body ul {
    line-height: 2.5rem;
}

.source {
    margin-top: 50px;
    font-weight: 700;
}

.source span {
    font-weight: 500;
}

.instruction_steps {
    margin-top: 30px;
}

/* ========== responsive design ========== */
@media only screen and (max-width:992px) {
    .recipe_detail-head h1 {
        font-size: 3rem;
    }

    .recipe_detail-head img {
        width: 350px;
    }

    .detail_text {
        width: 80%;
    }
}

@media only screen and (max-width:768px) {
    .recipe_detail-head {
        flex-direction: column;
        align-items: start;
    }

    .recipe_detail-head img {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    .recipe_detail-body {
        grid-template-columns: 1fr;
    }

    .recipe_detail-body>div {
        margin: 30px 0;
    }
}